<nav class="navbar navbar-expand-md py-3 bg-gray-700">
    <div class="container">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                    <a class="navbar-brand flex items-center" href="{{ path('app_accueil') }}">
                        <span class="text-white">Accueil</span>
                    </a>
                    <div class="collapse navbar-collapse" id="navcol-1">
                            <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" href="{{ path('app_travail1') }}">Travail d'upload</a>
                            <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" href="{{ path('app_travail2') }}">travail 2</a>
                            <a class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" href="{{ path('app_travail3') }}">Travail 3</a>
                    </div>
                </div>
            </div>
        
            {% if not app.session.get('pseudo') %}
                <a class="btn ml-4 text-white font-sans bg-yellow-500" href="{{ path('app_login') }}">Se connecter</a>
            {% else %}
                <a class="btn ml-4 text-white font-sans bg-yellow-500" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% endif %}
        </div>
    </div>
</nav>